html {
  margin: 0;
  padding: 0;
  font-family: Pretendard-Regular;
  background: #f4f4f4;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa; /* 밝은 회색 배경 */
}
.main-header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: left;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  margin: 0 auto;
}

.card {
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 20px 30px;
  text-align: center;
  width: 300px; 
  overflow: hidden;
  transition: border-radius 0.3s;
}

.card:hover {
  border-radius: 50%;
}
.card img {
  width: 100%;
  height: auto;
  transition: border-radius 0.3s ease;
}

.card:hover .card-title,
.card:hover .card-text {
  color: #80a2b4; /* 마우스 오버시 텍스트 빨간색으로 변경 */
}

.product-image {
  width: 100%;
  height: auto;
  display: block;
}

.product-details {
  padding: 15px;
}

.price {
  color: green;
  font-size: 1.2em;
}

.category {
  margin-top: 20px;
}

.H1-mg {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 1em;
  margin-right: 50px;
}
.banner {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

.lt {
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
  .banner {
    height: 200px;
  }
  .card {
    width: 100%;
  }
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
