html,
body {
  margin: 0%;
  width: 100vw;
  height: 100vh;
}
body {
  font-family: "Pretendard-Regular";
}
main {
  height: 1000px;
  /* background-color: grey; */ 
}
nav {
  background-color: #8C5535;
}

/* .img-style {
  object-fit: scale-down;
} */

.img-style {
  height: 500px;
  background-image : url(/src/image/main.jpg);
  background-size: cover;
  background-position: center;
}

.sub-title {
  font-size: 20px;
  font-weight: bold;
  padding: 44px 0;
}

.news-card-area{
  width: auto;
  border: 1px solid #ebeaec;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
  /* border-radius: 16px; */
  padding: 15px;
}
.news-card-title {
  font-weight: 500;
  font-size: 1rem;
}
.news-card-sub-title {
  font-size: 0.7rem;
  color: #787174;
}
.news-card-img-style {
  width: 380px;
}
.nav-item a {
  color: black;
}
.nav-item a:hover {
  text-transform: uppercase;
  color: black;
}

.highlighter :after {
  /*after 가상요소*/
  display: block; /*a요소를 블록 요소라고 선언*/
  /*width:70px; /*카테고리 메뉴 밑줄의 크기를 동일하게 주기 위해 width 설정*/
  /*혹시 동일하지 않길 바란다면 width 삭제*/
  content: "";
  border-bottom: 3px solid black;
  transform: scaleX(0); /*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
  transition: transform 250ms ease-in-out; /*변형 방식*/
}
.highlighter a:hover:after {
  transform: scaleX(1); /*a 속성에 hover시 기존 크기로*/
}

footer {
  background-color: black;
  color: white;
}
footer p {
  font-size: 0.75rem;
  margin: 3px 0;
  color: grey;
}
.first-line {
  border-bottom: 1px solid darkgrey;
}

@font-face { 
  font-family: 'Pretendard-Regular'; 
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff'); 
  font-weight: 400; 
  font-style: normal; 
}