/* Global */
:root {
  /* App Colors */
  --color-primary:  var(--color-darkBrown);
  --color-secondary: var(--color-blue);
  --color-text: var(--color-black);

  /* Colors */
  --color-black:  #121212;
  --color-darkBrown:  #2E2825;
  --color-blue:  #7598EC;
  --color-brown:  #B89865;
  --color-white:  #ffffff;

  /* Size */
  --size-max-width: 1200px;

  /* Font */
  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Pretendard-Regular';
  margin: 0;
  min-width:  320px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color:  var(--color-text);
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

/* Main */

.intro_box {
  margin: 0 auto;
  width: 60%;
  height: 5rem;
  position: relative;
  border: max(2px, 0.1rem) solid #ccc;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg,rgba(139, 85, 54,1) 20.5625%,rgba(125, 166, 184,1) 50.1875%,rgba(117, 152, 236,1) 80.5625%);
}

.intro_box::before {
  content:  "";
  display: block;
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%) scale(0.9);
  width: 40%;
  height: 5rem;
  border: max(2px, 0.1rem) solid #ccc;
  border-radius: 3em;
  transition: left 250ms linear;
  background-color: #ccc;
  box-shadow:
  -7px -7px 20px 0px #fff9,
  -4px -4px 5px 0px #fff9,
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001;
}

.intro_box > span {
  width: 40%;
  height: 5rem;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.intro_box > span > p {
  color: var(--color-black);
  font-size: 1rem;
  font-weight: 600;
  z-index: 1;
}


